/*.divPlace {*/
    /*margin: 5px 0px;*/
/*}*/

.place, .buttonSendToMobile {
    display: block;
}

.buttonSendToMobile {
    margin-top: 1em;
}

.divPlace {
    background-color: #FFFFFF;
    padding: 1em;
    border-left: 1px dashed #ccc;
    /*height: 8em;*/
}

.types {
    font-size: 0.75em;
}