'use strict'

const os = require('os')
const ip = require('ip')

module.exports = {
  hmls: {
    server: {
      host: os.hostname(),
      address: ip.address(),
      port: 8000
    }
  },
  hapiAuthFb: {
    credentialsName: '',
    version: '2.11',
    client_id: '',
    client_secret: '',
    loginSuccessRedirectPath: '/',
    success: function (credentials) {
      console.log(credentials)
    },
    yar: {
      name: '',
      cookieOptions: {
        password: '',
        ttl: 31536000000
      }
    }
  },
  db: {
    host: 'apps.charlesread.com',
    user: '',
    password: '',
    database: ''
  },
  twilio: {
    accountSid: '',
    authToken: '',
    from: ''
  }
}