'use strict'

const os = require('os')
const ip = require('ip')

module.exports = {
  hmls: {
    server: {
      host: os.hostname(),
      address: ip.address(),
      port: 8000
    }
  },
  hapiAuthAuth0: {
    credentialsName: '',
    domain: '',
    client_id: '',
    client_secret: '',
    loginSuccessRedirectPath: '/',
    handlerPath: '/callback',
    yar: {
      // this is kind of bootleg, catbox's backends aren't kosher with yar 10 yet, booooo, so no legit server-side :(
      maxCookieSize: 1024 * 10,
      storeBlank: false,
      name: '',
      cookieOptions: {
        password: '',
        ttl: 31536000000
      }
    },
    appUrl: ''
  },
  db: {
    connectionLimit: 20,
    host: '',
    user: '',
    password: '',
    database: ''
  },
  twilio: {
    accountSid: '',
    authToken: '',
    from: ''
  },
  pino: {
    pretty: true, // should be `false` in production
    level: 'trace'
  }
}
