.attendee {
    padding: 10px;
}

#divAttendees .attendee:nth-child(odd) {
    background-color: #eee;
}

#alertPhoneAdd {
    display: none;
}

#divRsvpYesNo {
    text-align: center;
    margin: 1.5em auto;
}

#divRsvpYesNo input[type=radio] {
    display: none;
}

#divRsvpYesNo span {
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 0.25rem;
}

#divRsvpYesNo label {
    margin: 10px;
}

#chkbxAttendNo:checked + span {
    border: 1px solid #dc3545;
}

#chkbxAttendYes:checked + span {
    border: 1px solid #28a745;
}

#divRsvpYesNo #chkbxAttendNo + span {
    color: #dc3545;

}

#divRsvpYesNo #chkbxAttendYes + span {
    color: #28a745;

}

#alertRsvp {
    display: none;
}

#divRsvpNextSteps div#divRsvpNextStepsNo, #divRsvpNextSteps div#divRsvpNextStepsYes {
    display: none;
}

/*#divRsvpAdditionals {*/
/*padding: 10px;*/
/*}*/

/*@media (max-width: 1000px) {*/
/*.col-sm-6, .col-sm-6, .col {*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*}*/

#buttonRsvpAdditionalAdd {
    /*background-color: #FFFFFF;*/
}

.card {
    margin-bottom: 1em;
}

.save {

}

/*#userRsvpPersonSave, #personRsvpPersonSave {*/
    /*position: absolute;*/
    /*bottom: 1px;*/
    /*right: 5px;*/
    /*color: #28a745;*/
    /*opacity: 0;*/
/*}*/

.displayNone {
    display: none;
}

/*.modal-body {*/
    /*padding-bottom: 0;*/
/*}*/

#divRsvpPersons table {
    width: 100%;
    font-size: 0.9em;
}

#divRsvpPersons table tbody tr td:last-child {
    /*white-space: nowrap;*/
}

#divRsvpPersons table tbody tr:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
}

#divRsvpPersons table thead th {
    color: #DDD;
}

#divRsvpPersons table thead th:not(:nth-child(2)):not(:nth-child(5)), #divRsvpPersons table tbody tr td:not(:nth-child(2)):not(:nth-child(5)) {
    text-align: center;
}

#divRsvpPersons table td, #divRsvpPersons table th {
    padding: 4px 8px;
}

#divRsvpPersons table td {
    color: #333;
}

.rsvpPersonDelete {
    color: #dc3545;
    font-size: 0.9em;
}

/*event "buttons"*/

.divEventCheckbox {
    position: relative;
}

.divEventCheckbox label {
    display: block;
    margin: 5px auto;
}

.eventCheckbox {
    display: none;
}

.eventCheckbox+span:before, #divRsvpYesNo label span:before {
    font-family: 'FontAwesome';
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*text-decoration: inherit;*/
    margin-right: 10px;
}

.eventCheckbox:checked+span:before {
    content: '\f058';
    color: #28a745;
}

.eventCheckbox:not(:checked)+span:before {
    content: '\f057';
    color: #dc3545;
}

hr {
    border-top: 1px dashed #eee;
    background-color: #fff;
}

#divRsvpPersons td:nth-child(3) .fa {
    color: #ddd;
    margin: auto 2px;
}


#alertPersonAdd {
    display: none;
}

.modal[class*="modal"] {
    transition: height 4s;
}

#ttRsvpPerson {
    left: 5em;
}

.colFull {
    padding-left: 0;
    padding-right: 0;
}

#divRsvpAdditionalAdd div[class*=col] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.badEventRow {
    background-color: #ffe8e8;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}