<div class="row text-align-center">
    <div class="col">
        <div id="divLogin" class="text-align-center">
            <button type="button" class="btn btn-outline-primary" id="buttonLogin">Log in with
                Facebook
            </button>
            <div id="divLoginDisclaimer">
                (just so we know who you are)
            </div>
        </div>
    </div>
</div>