<div id="secure-container">
    <div class="row">
        <div class="col-sm">
            <secure-phone user=input.user rsvp=input.rsvp />
            <!--<secure-rsvp user=input.user rsvp=input.rsvp />-->
        </div>
    </div>
</div>