<secure-nav user=input.user rsvp=input.rsvp></secure-nav>
<secure-phone user=input.user></secure-phone>
<secure-rsvp user=input.user rsvp=input.rsvp mealTypes=input.mealTypes rsvpPerson=input.rsvpPerson></secure-rsvp>