body {
    /*margin-top: 1em;*/
    font-family: 'Bangers', cursive;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.divCns {

}

.cns {

}

.cnsElementSmall {

}

.cnsElementLarge {

}

.cnsElementLarge, .cnsElementSmall {
    display: inline-block;
}

.cnsSymbol {
    color: #0072ff;
    margin: auto 0.25em;
}

@media (max-width: 1000px) {
    .cnsElementLarge {
        display: block;
    }
}