body {
    /*margin-top: 1em;*/
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
}

.btn:focus,.btn:active, .navbar-toggler {
    outline: none !important;
    box-shadow: none;
}
