body {
    /*margin-top: 1em;*/
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
    /*background-color: #fbf3e3;*/
}

.btn:focus, .btn:active, .navbar-toggler {
    outline: none !important;
    box-shadow: none;
}