body {
    /*margin-top: 1em;*/
    font-family: 'Raleway', sans-serif;
    background-color: #f8f9fa;
    /*background-color: #fbf3e3;*/
}

.btn:focus, .btn:active, .navbar-toggler, .nav-link, .nav-item, button {
    outline: none !important;
    box-shadow: none;
}