<lasso-page package-path="./browser.json"/>
<include("../layout/template/index.marko", input)>
<@main>
<if(input.user)>
    <secure-container user=input.user rsvp=input.rsvp/>
        <if(input.rsvp)>
            RSVP Exists
        </if>
        <else>
            No RSVP
        </else>
</if>
<else>
    <p>
        <a href="/register">Log in with Facebook</a>
    </p>
</else>
</@main>
</include>