#divLogin {
    background-color: #4267b2;
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    width: auto;
}

#divLogin i.fa {
    font-size: 1.8em;
    margin-right: 0.4em;
}