'use strict'

const os = require('os')
const ip = require('ip')

module.exports = {
  hmls: {
    server: {
      host: os.hostname(),
      address: ip.address(),
      port: 8000
    }
  },
  hapiAclAuth: {
    policy: 'allow',
    exempt: ['/callback'],
    hierarchy: ['user', 'admin', 'superuser'],
    handler: async function (req) {
      return req.yar.get('user')
    }
  },
  hapiAuthAuth0: {
    credentialsName: '',
    domain: '',
    client_id: '',
    client_secret: '',
    handlerPath: '',
    loginSuccessRedirectPath: '/',
    yar: {
      maxCookieSize: 1024 * 10,
      storeBlank: false,
      name: '',
      cookieOptions: {
        password: '',
        ttl: 31536000000
      }
    },
    appUrl: 'http://localhost:8000'
    ,
    success: async function(credentials, req, h) {
      const userUtil = require('~/util/user')
      const user = await userUtil.maintainUser(credentials)
      req.yar.set('user', user)
      return true
    }
  },
  db: {
    connectionLimit: 20,
    host: '',
    user: '',
    password: '',
    database: ''
  },
  twilio: {
    accountSid: '',
    authToken: '',
    from: ''
  },
  pino: {
    pretty: true, // should be `false` in production
    level: 'trace'
  }
}
